@import "tailwindcss";


:root { color-scheme: dark; }

body {
  @apply bg-[#0b0e12] text-zinc-100 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Inter, Roboto, "Helvetica Neue", Arial;
}

